<!DOCTYPE html>
<html>
<head>
  <title>Compose</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>COMPOSE</h1>
    <div class="container">
      <a href="/">Home</a>
    </div>
  </header>
  <div class="container">
    <form action="/compose" method="post">
      <input type="text" name="title" placeholder="Title" required>
      <textarea name="content" placeholder="Content" required></textarea>
      <button type="submit">Publish</button>
    </form>
  </div>
</body>
</html>
