<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1><%= post.title %></h1>
    <div class="container">
      <a href="/">Home</a>
    </div>
  </header>
  <div class="container">
    <p><%= post.content %></p>
  </div>
</body>
</html>
